<h2>Users Component</h2>


<table border="1">
    <tr>
        <th>User Id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>street</th>
        <th>suite</th>
        <th>city</th>
        <th>zipcode</th>
        <th>lat</th>
        <th>long</th>
    </tr>
    
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td>{{user.address.suite}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.address.zipcode}}</td>
        <td>{{user.address.geo.lat}}</td>
        <td>{{user.address.geo.lng}}</td>
    </tr>
</table>

<h2>Enter Id</h2>
<input (input)="userIdSelected=$any($event.target).value">
<br/> <br/>
<button (click) = "showUserIdDetails()">Show User Details</button> &nbsp;
<br/>

<div *ngIf="showUserDetails">
    <app-user-detail [userIdNum]="userIdSelected" ></app-user-detail>
</div>