<div style="text-align: center;">
  <h1>Web Angular Project Connected to .NET CORE WEB API</h1>
  </div>

  <nav>
    <a routerLink="Home">Home</a> ||
    <a routerLink="Contact">Contact</a> ||
    <a routerLink="Help">Help</a> || 
    <a routerLink="Products">Products</a> || 
    <a routerLink="ProductDetail">ProductDetail</a> || 
    <a routerLink="Albums">Albums</a> || 

    <a routerLink="Users">Users</a> || 
    <a routerLink="UserDetail">UserDetail</a> || 
    <a routerLink="Register">Register</a> || 
    <a routerLink="Comments">Comments</a> || 
    <a routerLink="Feedback">Feedback</a> || 
    <a routerLink="CreateFeedback">CreateFeedback</a> || 

    <a routerLink="Login">Login</a> || 
    <a routerLink="Logout">Logout</a> || 
  </nav>
<router-outlet></router-outlet>
